.input-section {
  display: flex;
  justify-content: space-between;
  
  #input-field {
    border: none;
    padding: 15px;
    border-radius: 5px;
    display: inline-block;
    flex-basis: 85%;
    background-color: $light-grayish-cyan;
    color: $very-dark-cyan;
    font-weight: 500;
    font-size: 17px;
    &::placeholder {
      color: $very-dark-cyan;
      font-weight: 500;
    }
    &:focus {
      outline: none;
      border: 2px solid $very-dark-cyan;
    }
  }
  
  .add-btn {
    display: inline-block;
    flex-basis: 12.5%;
    border: none;
    color: $very-dark-cyan;
    font-size: 30px;
    font-weight: 500;
    background-color: $strong-cyan;
    border-radius: 5px;
  }

  .add-btn:disabled {
    @extend .add-btn;
    color: #555;
    background-color: #ddd;
  }
}